<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/styles/style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <title>Glamour Fashion</title>
  </head>
  <body>
    <%- include('partials/nav.ejs') %>

    <div class="shop-container">
      <% products.products.women.forEach(product => { %>

        <div class="product">
          <div id="<%= product.id %>" class="product-image-container"> 
            <img class="product-main-img" src=<%= product.img %> alt="" />
            <img class="product-hover-img" src=<%= product.img2 %> alt="" />
          </div>
          
          <div class="product-details">
            <h4><%= product.name %></h4>
            <p>£ <%= product.price %></p>
          </div>
        </div>
       
      <% }) %>
    </div>


    <%- include('partials/footer.html') %>

    <script src="script/script.js"></script>
  </body>
</html>
